﻿
@{
    Layout = "";
    ViewBag.Title = "Guest Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"  href="~/Content/bootstrap.css">
 
    <link rel="stylesheet" href="~/Content/Guest.css" />
</head>
<body>
    <h1>Reviews</h1>
    <div class="container-fluid">
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">22.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">23.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">24.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">25.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>

    </div>

        <form style="background-color:darkgray;">
            <h1 style="font-size:35px;font-weight:600;font-style:italic;">Enter new review</h1>
            <label for="exampleInputEmail1" class="form-label">Enter author name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter author name" style="font-size:30px;height:50px;width:450px;margin-left:37%;" />


            <label for="exampleInputEmail1" class="form-label">Enter review text</label>
            <textarea type="text" class="form-control" id="exampleInputPassword1" style="width:600px;height:450px; padding-bottom: 400px !important;font-size:20px;margin-left:34%;"></textarea>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

</body>
</html>

